<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beequiet" >

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ImportActivity"
            android:label="@string/title_activity_import"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".WeeklyActivity"
            android:label="@string/title_activity_weekly"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <service
            android:name=".SilentHour"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
